
div{
    padding: 5px 15px;
}
h4{
    text-align: center;
    
}
header{
    margin-top: 20px;
    min-height: 200px;

}
nav{
    display: flex;
    float: left;
    flex-direction: column;
    margin: top -10px;
    align-items: flex-end;
}

.image {
    height: 210px;
    width: 350px;
}


.container{
    text-align: justify;
}



body{
    background-color: rgb(27, 27, 27);
    color: whitesmoke
}

.home{
    text-align: center;
    color: whitesmoke;
    font-size: 80px ;
    text-decoration: none;
    padding-left: 100px
}

.home:hover{
    transition: 0.5s;
    color:rgb(168, 43, 43);
    text-decoration: none;
}

h1{
    text-align: center;
}

#tm{
    
    font-size: 150px;
    padding-left: 600px;
    padding-top: 100px;
    color: rgb(168, 43, 43);
}
.main_text{
    font-size: 50px;
   padding-left: 558px;
    font-family:Arial, Helvetica, sans-serif ;}